body {
  background-color: brown;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container {
  width: 900px;
  height: 900px;
  background-color: black;
  position: relative;
  border-radius: 10000px;
}
#center {
  position: absolute;
  background-color: rgb(61, 249, 249);
  width: 170px;
  height: 170px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10000px;
  box-shadow:  0 0 20px 15px rgb(67, 249, 249);
  z-index: 1;
}
#loop1 {
  position: absolute;
  border: 45px dashed aqua;
  width: 190px;
  height: 190px;
  top: 50%;
  left: 50%;
  border-radius: 10000px;
  box-shadow: 0 0 20px 15px aqua;
  animation: loop11 10s infinite linear;
}
@keyframes loop11 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
#loop2 {
  position: absolute;
  border: 34px dashed aqua;
  width: 400px;
  height: 400px;
  top: 50%;
  left: 50%;
  border-radius: 10000px;
  box-shadow: 0 0 20px 15px aqua;
  animation: loop21 10s infinite linear;
}
@keyframes loop21 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
#loop3 {
  position: absolute;
  border: 100px dashed aqua;
  width: 630px;
  height: 630px;
  top: 50%;
  left: 50%;
  border-radius: 10000px;
  box-shadow: 0 0 20px 15px aqua;
  animation: loop11 10s infinite linear;
}
@keyframes loop11 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
#loop4 {
  position: absolute;
  border: 99px dashed aqua;
  width: 660px;
  height: 660px;
  top: 50%;
  left: 50%;
  box-shadow:inset 0 0 20px 15px aqua;
  border-radius: 10000px;
  animation: loop41 10s infinite linear;
}
@keyframes loop41 {
  0% {
    transform: translate(-50%, -50%) rotate(0.8deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360.8deg);
  }
}
