body {
  background-color: brown;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1{
  font-size: 290px;
}
#container {
  width: 900px;
  height: 900px;
  background-color: black;
  position: relative;
  border-radius: 10000px;
}
#center {
  position: absolute;
  background-color: rgb(61, 249, 249);
  width: 170px;
  height: 170px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10000px;
  box-shadow: 0 0 20px 15px rgb(67, 249, 249);
  z-index: 1;
}
#loop1 {
  position: absolute;
  border: 45px dashed aqua;
  width: 190px;
  height: 190px;
  top: 50%;
  left: 50%;
  border-radius: 10000px;
  box-shadow: 0 0 20px 15px aqua;
  animation: loop11 10s infinite linear;
}
@keyframes loop11 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
#loop2 {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  animation: loop21 10s infinite linear;
}
@keyframes loop21 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
#loop3 {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 50%;
  left: 50%;
  animation: lopl 10s infinite linear;
}
@keyframes lopl {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.loop3in {
  position: absolute;
  /* background-color: aqua; */
  top: 50%;
  left: 50%;
  width: 600px;
  height: 600px;
  transform: translate(-50%, -50%);
  filter: drop-shadow(10px 10px 50px rgb(5, 249, 249));
}
.loop3out {
  background-color: aqua ;
  transform-origin: center;
  width: 600px;
  height: 600px;
  clip-path: polygon(0 30%, 12% 41%, 32% 29%, 27% 13%);
  transform: var(--deg) translateY(-180px);
}
.loop2in {
  position: absolute;
  /* background-color: aqua; */
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  transform: translate(-50%, -50%);
  box-shadow: 20px aqua;
}
.loop2out {
  background-color: rgb(4, 254, 254);
  transform-origin: center;
  width: 100px;
  height: 100px;
  clip-path: polygon(0 30%, 8% 68%, 62% 59%, 60% 20%);
  transform: var(--deg) translateY(-180px);
}
