body {
  background-color: rgb(2, 2, 2);
  width: 100dvw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 200px;
}
#container {
  width: 900px;
  height: 900px;
  background-color: rgb(139, 0, 0);
  border-radius: 10000px;
  position: relative;
  filter: drop-shadow(0 0 80px red);
  border: 10px solid rgb(110, 7, 7);
}
#center {
  width: 200px;
  height: 200px;
  background-color: black;
  filter: drop-shadow(0 0 20px black);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1000px;
}
#dusal {
  width: 900px;
  height: 900px;
  /* background-color: aqua; */
  position: absolute;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1000px;
  overflow: hidden;
  animation: loop 4s infinite;
}
@keyframes loop {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
#dusal1 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 340px;
  height: 340px;
  transform: translate(-50%, -50%);
  border: 170px solid black;
  filter: drop-shadow(0 0 10px black);
  border-radius: 10000px;
}
#dusal2 {
  position: absolute;
  background-color: rgb(0, 0, 0);
  width: 280px;
  height: 200px;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0 0 10px black);
}
#dusal3 {
  position: absolute;
  background-color: rgb(0, 0, 0);
  width: 240px;
  height: 280px;
  top: 75%;
  left: 83%;
  transform: translate(-50%, -50%) rotate(38deg);
  filter: drop-shadow(0 0 10px black);
}
#dusal4 {
  position: absolute;
  background-color: rgb(0, 0, 0);
  width: 280px;
  height: 280px;
  top: 75%;
  left: 20%;
  transform: translate(-50%, -50%) rotate(57deg);
  filter: drop-shadow(0 0 10px black);
}

#container1 {
  width: 900px;
  height: 900px;
  background-color: rgb(139, 0, 0);
  border-radius: 10000px;
  border: 10px solid rgb(110, 7, 7);
  position: relative;
  filter: drop-shadow(0 0 80px red);
}
#center1 {
  width: 180px;
  height: 180px;
  background-color: black;
  filter: drop-shadow(0 0 20px black);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1000px;
}
#dusal21 {
  width: 900px;
  height: 900px;
  /* background-color: aqua; */
  position: absolute;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1000px;
  overflow: hidden;
  animation: loop1 4s infinite;
}
@keyframes loop1 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
#dusal11 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  transform: translate(-50%, -50%);
  border: 10px solid rgb(10, 5, 5);
  filter: drop-shadow(0 0 10px black);
  border-radius: 10000px;
}
#dusal12 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 600px;
  transform: translate(-50%, -50%);
  border: 0.1px dashed rgb(10, 5, 5);
  filter: drop-shadow(0 0 10px black);
  border-radius: 10000px;
  display: flex;
}
.dusal121 {
  position: absolute;
  /* background-color: rgb(0, 0, 0); */
  width: 150px;
  height: 150px;
  top: 50%;
  left: 50%;
  border-radius: 10000px;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0 0 10px black);
}
.dusalin {
  background-color: rgb(0, 0, 0);
  width: 150px;
  height: 150px;
  transform-origin: center;
  clip-path: polygon(1% 0, 70% 8%, 105% 40%, 77% 63%, 50% 50%);
  transform: var(--deg) translateY(-280px);
}
